Homework-4/
Pyculator/venv
Homework-15/files/.terraform.lock.hcl
Homework-15/files/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.51.0/linux_amd64/terraform-provider-azurerm_v3.51.0_x5
